*, 
*:before, 
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: plum;
}

h1,
p {
  border: 1px solid white;
}

h2 {
  text-align: center;
}

/* ////// */
/* GRID 1 */
/* ////// */

.grid-container-1 {
  width: 602px;
  margin: 0 auto;
  border: 1px solid purple;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  /* Short hand for above: grid-template: rows / columns */
  grid-template: repeat(3, 200px) / repeat(3, 200px);
}

/* ////// */
/* GRID 2 */
/* ////// */

.grid-container-2 {
  width: 602px;
  margin: 0 auto;
  border: 1px solid purple;
  display: grid;
  grid-template: repeat(3, 200px) / repeat(3, 200px);
}

#grid-item {
  background: #B823C1;
  color: white;
  border: 1px solid purple;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Moves the grid item to a specifc spot using the row and column lines */
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-row-end: 3;
  /* Short hand for above: grid-row: start / end & gird-column: start / end */
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

/* ////// */
/* GRID 3 */
/* ////// */

.grid-container-3 {
  width: 602px;
  margin: 0 auto;
  border: 1px solid white;
  display: grid;
  grid-template: repeat(3, 200px) / repeat(3, 200px);
}

#grid-item-one {
  display: flex;
  justify-content: center;
  align-items: center;
  background: aqua;
  /* When counting the rows and column lines backwards, they start from -1, -2, -3.. and so forth. If you do a 1 / -1 that will automatically mean from the beginning to the end. */
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}

#grid-item-two {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FF5670;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

#grid-item-three {
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightyellow;
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

#grid-item-four {
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightgreen;
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

/* ////// */
/* GRID 4 */
/* ////// */

.grid-container-4 {
  width: 602px;
  margin: 0 auto;
  border: 1px solid purple;
  display: grid;
  grid-template: repeat(3, 200px) / repeat(3, 200px);
}

#grid-item-five {
  background: teal;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Use of span instead of the start and end position */
  grid-column: span 2;
  grid-row: 2 / span 3;
}

/* ////// */
/* GRID 4 */
/* ////// */

/* Use of Justify-items and Align-items for the Grid Items */
.grid-container-5 {
  margin: 0 auto;
  width: 602px;
  border: 1px solid black;
  display: grid;
  grid-template: repeat(3, 200px) / repeat(3, 200px);
  justify-items: center;
  align-items: center;
}

.grid-item {
  background: #B823C1;
  color: white;
  padding: 1em 2em;
  border: 2px solid purple;
  display: flex;
  align-items: center;
  justify-content: center;
}

.big {
  padding: 3em 2em;
  background: #FF5670;
}

/* Utilizing Justify-self and Align-self in the Grid item itself */
.start {
  align-self: start;
  justify-self: start;
} 

.end {
  align-self: end;
  justify-self: end;
}